[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
runner = {editable = true, path = "."}
graphviz = "*"

[dev-packages]
sphinx = "*"
pytest = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.10"
